<% content_for :title do %>
  Welcome
<% end %>

<%= render 'header'%>

<div class="landing-content">
  <div class="landing-container">
    <h1 class="landing-heading white-text">
      <i class="fa fa-utensils"></i>furnish.
    </h1>
    <div class="landing-links-container">
      <%= link_to "JOIN US!", "#", class: "btn waves-effect waves-light red darken-2", id: "register-user" %>
      <%= link_to "LOG IN", "#", class: "btn waves-effect waves-red white red-text text-darken-2", id: "login" %>
      <small class="white-text">or</small>
      <%= link_to "Login as produsen", "#", class: "btn waves-effect waves-light grey darken-4 white-text", id:"login-admin" %>
      <%= link_to "Login as admin", "#", class: "btn waves-effect waves-light grey darken-4 white-text", id:"login-produsen" %>
    </div>
  </div>
</div>